# Ignore Helm secrets
helm/values.secret.yaml

# Ignore Node modules
frontend/node_modules/

# Ignore Python caches and compiled files
backend/__pycache__/
*.pyc

# Ignore OS files
.DS_Store

# Ignore log files
*.log

# Ignore local environment files
.env
